<!DOCTYPE html>
<html>
  <head>
    <title>Statistics</title>
  </head>
  <body>
    <h1>Statistics</h1>
    <p>Total number of articles: {{ total_articles }}</p>
    <p>Number of articles where predictionLog matches label: {{ log_match }}</p>
    <p>Number of articles where predictionSVM matches label: {{ svm_match }}</p>
    <p>Accuracy score for predictionLog: {{ accuracy_log }}</p>
    <p>Accuracy score for predictionSVM: {{ accuracy_svm }}</p>
  </body>

  <br /><br />
<input type="button" value="Go Back" onclick="window.location.href='/'" />
</html>
